.rangeCalendarCell {
  &[data-outside-month] {
    opacity: 30%;
  }

  &[data-selected] {
    background: #03a9f4;
    border-radius: 0;
  }

  &[data-selection-start] {
    border-start-start-radius: 5px;
    border-end-start-radius: 5px;
  }

  &[data-selection-end] {
    border-start-end-radius: 5px;
    border-end-end-radius: 5px;
  }
}

.calendarCell {
  &[data-outside-month] {
    opacity: 30%;
  }
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}

textarea:focus, input:focus{
  outline: none;
}