.table {
  border-collapse: collapse;

  font-size: 1.4rem;
  text-align: left;
  /* Estilização de cores pode
    principalmente ser controlada somente
    com as 2 próximas props
  */
  color: white;
  background-color: rgba(0, 0, 0, 0.7);

  margin-inline: 1rem;

  caption {
    background-color: inherit;
    backdrop-filter: contrast(0%);
    font-weight: 700;
    font-size: min(10vw, 2rem);
    text-transform: capitalize;
  }

  tr {
    position: relative;
  }

  caption,
  td,
  th {
    padding: 0.7rem 2rem;
  }

  tbody tr:nth-of-type(2n + 1) {
    background-color: rgba(255, 255, 255, 0.06);
  }
}

.responsive-table {
  td {
    display: grid;

    /* Alterável: */
    grid-template-columns: 10ch auto;
  }

  th {
    display: none;
  }

  td::before {
    content: attr(data-cell);
    display: flex;
    align-items: center;

    /* Alterável: */
    font-weight: 700;
    text-transform: lowercase;
  }
}

.action-button {
  border: none;
  background-color: transparent;
  color: currentColor;
  font-size: calc(1em - 0.4rem);

  padding: 1rem;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;

  cursor: pointer;

  transition: transform 100ms ease-out;

  /* when select with keyboard, for accessibility */
  &:focus-visible {
    outline: currentColor solid 1px;
    outline-offset: 1px;
  }

  &:hover,
  &:focus-visible {
    background-color: rgba(255, 255, 255, 0.05);
    transform: scale(1.1);
    box-shadow: 0.5em 0.5em 10px 1px rgba(0, 0, 0, 0.5);
  }

  /* pill shaped border: */
  border-radius: 100vmax;

  @media (pointer: coarse) {
    /* mais fácil de clicar quando tela touch */
    width: 100%;
  }
}
